form{
    margin-top: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

form input{
    width: 50%;
    height: 20px;
    border-radius: 5px;
}

button{
    margin-top: 20px;
    width: 200px;
    color: #fff;
    cursor: pointer;
    background-color: #252B48;
    border-radius: 5px;
}